body{

}
.container{
	margin: 20px auto 0;
	display: flex;
	justify-content: space-around;
	max-width: $break-lg;

	@media(max-width: $break-md){
		flex-wrap: wrap;
	}

	.item{
		width: 30%;
		min-width: 200px;
		text-align: center;
	}
}

.incline{
	position: absolute;
	overflow: hidden;
	width: 100%;
}
.triangle{
	margin: 0;
	display: block;
	width: 0;
	height: 0;
	border-bottom: 20vh solid transparent;
	border-left: 120vw solid #fff;
}

.headline{
	text-align: center;
	padding: 0 15px;
	h2{
		color: $primary-black;
		font-size: 2rem;
	}

	h3{
		font-size: 1rem;
		color: $gray;
		font-style: italic;
	}
}

.btn{
	background: transparent;
	text-transform: uppercase;
	font-size: 13px;
	border: 1px solid $primary-black;
	padding: 25px 50px;
}
