/////////////////////////////////// BREACKPOINTS
$break-ex: 360px;
$break-sm: 600px;
$break-md: 720px;
$break-lg: 960px;

/////////////////////////////////// COLORS
$gray: #989696;
$hover-gray: #010101;
$primary-black: #1d1d1d;
$logo-black: #1d1d1d;
